body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: cover;
}
header {
    display: flex;
    width: 98%;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    border: 1px solid #000;
    
    
}
header div{
    color: #032b0e;
    font-size: 50px;
    height: 100px;
}
.logo-container {
    display: flex;
    justify-content: space-between;
}
.headtext {
    padding-top: 50px;
    font-size: medium ;
}
header a{
    text-decoration: none;
    color: black;
    /* margin-top: 3px; */
}
header img{
    vertical-align: middle;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;


}

.content {
    width: 90%;
    height: auto;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #000;
}
.welcome {
    text-align: center;
    color: rgb(18, 14, 14);
    padding: 50px 20px;
    opacity: 0.8;
    border: 1px solid #000; 
    background-image: url(welcomimg.jpg);
}

.text-image {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.text-image div {
    width: 48%;
}
.video {
    text-align: center;
    margin: 20px 0;
    border: 1px solid #000;
}
footer {
    width: 91.5%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
    border: 1px solid #000;
}

.container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
}

header1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

header .logo1 {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #0c0b0b;


}

header .site-name {
    flood-opacity: 0%;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000;
    padding: 5px;
    
}

header .contact1 {
    background-color: #ccc;
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: medium;
}

.intro-text {
    margin: 20px 0;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
}

form {
    border: 1px solid #000;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    padding: 10px;
}

input[type="text"],
input[type="email"],
input[list] {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #000;
    cursor: pointer;
    margin-top: 20px;
}

footer1 {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    border: 1px solid #000;
    padding: 5px;
}
@media (max-width: 768px){
    .contact{
        grid-template-columns: 1fr;
    }
}